{% extends 'shorts/base.html' %}
{% block content %}
    <!-- <h1>Shorts Home.</h1> -->
    {% for short in shorts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ short.author }}</a>
                <small class="text-muted">{{ short.branch }},</small>
                <small class="text-muted">{{ short.post_date }}</small>
            </div>
            <h5><a class="article-title" href="#">{{ short.title }}</a></h5>
            <p class="article-content"> Experience - {{ short.experience }}</p>
            <p class="article-content"> Difficulty - {{ short.difficulty }}</p>
            </div>
        </article>
        <!-- <h2>{{ short.name }}</h2>
        <p>{{ short.time }}</p>
        <p>{{ short.title }}</p>
        <p>{{ short.exp }}</p> -->
    {% endfor %}
{% endblock content %}
    
