{% extends 'shorts/base.html' %}
{% block style %}
<style>
    body { background-color:rgb(212, 239, 255);}
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      vertical-align: top;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    @media screen and (max-width: 600px) {
      table, thead, tbody, th, td, tr {display: block;}
      th, td {border: none;}
      th {background-color: #f2f2f2;}
    }
  </style>
{% endblock style %}

{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ short.author.profile.image.url }}" alt="Profile">
    <div class="media-body">
        <div class="article-metadata">
            <h5 class="mr-2" href="#">{{ short.author.username }}</h5>
            <small class="text-muted">{{ short.branch }},</small>
            <small class="text-muted">{{ short.author.email }},</small>
            <small class="text-muted">{{ short.post_date }}</small>
        </div>
        <h5 class="article-title">{{ short.title }}</h5>
        <!-- <p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif"> Branch - {{ short.branch }}</p>
        <p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif"> Experience - {{ short.experience }}</p>
        <p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif"> Difficulty - {{ short.difficulty }}</p> -->
        <table>
            <tbody>
                <tr>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-weight: bold;" > CTC </p></td>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif"> {{short.ctc}}</p></td>
                </tr>
                <tr>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> Offer</p></td>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif">{{ short.offer }}</p></td>
                </tr>
                <tr>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> Experience</p></td>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif">{{ short.experience }}</p></td>
                </tr>
                <tr>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> Difficulty</p></td>
                    <td><p class="article-content" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif">{{ short.difficulty }}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}