{% extends 'shorts/base.html' %}
{% block content %}
    <main class="container mt-4">
        <section>
            <h2>Welcome to Interview Shorts - National Institute of Technology Raipur.</h2>
            <p>
                We are a community-driven platform dedicated to helping National Institute of Technology Raipur students
                share their on-campus and off-campus interview experiences. Our goal is to
                provide valuable insights, tips, and tricks that can assist you in preparing
                for your future interviews and online assessments (OAs).
            </p>
            <p>
                At Interview Shorts - National Institute of Technology Raipur, you can find a wide range of interview
                experiences shared by your fellow students. These experiences include details
                about the interview process, the questions asked, and other useful information.
                Additionally, you can explore tips and tricks provided by experienced students
                who have successfully navigated through interviews and OAs.
            </p>
            <p>
                We encourage active participation from all National Institute of Technology Raipur students. By sharing your
                interview experiences and tips, you can contribute to the community and help
                your peers in their interview preparation journey. Together, we can create a
                valuable resource that empowers National Institute of Technology Raipur students to excel in their
                interviews and secure their dream careers.
            </p>
            <p>
                If you have any questions, feedback, or suggestions, please feel free to
                contact us. We are constantly working to improve the platform and make it more
                helpful for all users.
            </p>
        </section>
    </main>
    <footer class="bg-light text-center py-3 mt-4">
        <p>&copy; 2023 Interview Shorts - National Institute of Technology Raipur. All rights reserved.</p>
    </footer>
{% endblock content %}
