{% extends 'shorts/base.html' %}
{% block content %}
<main class="container mt-4">
    <section class="main-section" style="background-color: #f8f9fa; padding: 20px; border-radius: 5px;">
        <h2>Contact</h2>
        <p>
            I would love to hear from you! If you have any questions, feedback, or suggestions,
            please feel free to reach out to me using the contact information below:
        </p>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Name:</strong> Raj Makkad
            </li>
            <li class="list-group-item">
                <strong>Email:</strong> rsmakkad29@gmail.com
            </li>
            <li class="list-group-item">
                <strong>Phone:</strong> +91 8817672667
            </li>
            <li class="list-group-item">
                <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/raj-makkad-9baba5190/" target="_blank">Raj Makkad</a>
            </li>
        </ul>
    </section>

    <section class="developer-info mt-4" style="background-color: #f0f0f0; padding: 20px; border-radius: 5px; margin-top: 20px;">
        <h2>About me!!</h2>
        <p>
            Hey!! This is Raj Makkad student of the National Institute of Technology Raipur'23, I am a 5 star coder at codechef and an Expert coder at codeforces. I have done 2 internships one is at HackerEarth for 7 months (6th June to 6th January), and second one is at Zsclaer for 6 months (6 February to 6 August).
        </p>
        <p>
            I have in-depth knowledge about Data Structures and Algorithms and often compete in programming contests. I have solved more than 2500 problems across all platforms. I have skills in C++ programming, Python, Shell scripting, Data Structures & Algorithms, Django Framework, Docker. I am always open to learning or trying out different technologies.
        </p>
    </section>
</main>
<footer class="bg-light text-center py-3 mt-4">
    <p>&copy; 2023 Interview Shorts - National Institute of Technology Raipur. All rights reserved.</p>
</footer>
{% endblock content %}
